.filterbox{
    display: flex;
    border-bottom : 1px solid rgb(202, 200, 200);
    /* height: 50px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px green solid; */
    padding: 5px 0px;
    
}

.filterboxCUSTOMIZABLE{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 50px;
    /* justify-content: space-around; */
}

.filterbox .radiobutton {
    margin-top: 2px;
    /* border: 2px red solid; */
}
.filterbox .radiobutton input {
    /* margin-top: 2px; */
    
    /* border: 2px red solid; */
}
.filterboxupperrow{
    /* border: 2px red solid; */
    width:100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.filtertype{
    font-weight: 500;
}
.filterdownicon{
    margin-right: 10px;

}
.filterbottomrow{
    /* border: 2px red solid; */
    width:100%;
    height: 25px;
    display: flex;
    color:grey ;
}



.FilterDropdownContent{
    /* border: 2px red solid; */

    position: relative;
    top: 0px;
    left: 0px;
}

.FilterDropdownContent .filterdropdownununsekectall{
    color: rgb(125, 123, 123);
    border-bottom: 1.5px rgb(125, 123, 123) solid;
    width: 30%;

}

.FilterDropdownContent  .filtercatogery{
    display: flex;
    flex-direction: column;
}

.FilterDropdownContent  .filtercatogery .filtercatogeryitems{
margin: 6px 0px;
}
@media (max-width:1019px) {
    .FilterDropdownContent .filterdropdownununsekectall{
        
        width: 36%;
        /* border: 2px red solid; */
    
    }
 
    
}
@media (max-width:558px) {
    .FilterDropdownContent .filterdropdownununsekectall{
        
        width: 40%;
        /* border: 2px red solid; */
    
    }
 
    
}

@media (max-width:558px) {
    .FilterDropdownContent .filterdropdownununsekectall{
        
        width: 44%;
        /* border: 2px red solid; */
    
    }
 
    
}

 
    
