.home{
  
}
.navbarathome{
    padding: 0px 100px;
    border-bottom: 1px rgb(202, 200, 200) solid;
    /* border: 2px red solid; */
}
.bannerathome{
    margin: 0px 100px;
    /* border: 2px red solid; */
    border-bottom : 1px solid rgb(202, 200, 200);
}
.midpartathome{
    margin: 0px 100px;
    /* border: 2px red solid; */
}
@media(max-width:725px){
    
.navbarathome{
    padding: 0px 0px;
    border-bottom: 1px rgb(202, 200, 200) solid;
    /* border: 2px red solid; */
}
.bannerathome{
    margin: 0px 0px;
    /* border: 2px red solid; */
    border-bottom : 1px solid rgb(202, 200, 200);
}
.midpartathome{
    margin: 0px 10px;
    /* border: 2px red solid; */
}


}